

[Bb]in/
[Oo]bj/


*.log
*.tmp
*.bak


*.suo
*.user
*.userosscache
*.sln.docstates


.DS_Store
Thumbs.db


*.nupkg
*.snupkg
*.nuget


.nuget/


*.vs/
*.vscode/


*.dotCover
*.coverage
*.coveragexml
*.ncrunch*
*.suo
*.vscode


*.local
*.sqlite


.env
.env.local
.env.development
.env.test
.env.production


*.dbmdl
*.dbproj.schemaview
*.bak
*.sql


*.vsconfig
*.code-workspace
*.code-workspace.user
*.launch.json

node_modules/
bower_components/
jspm_packages/
